<!-- grid-1 (footer) -->
<!-- <div class="grid-1-footer grid-5"> -->
    <div class="grid-5-message">
        Check back later for more updates!
    </div>

    <div class="grid-5-social">
        <span class="footer-item"><a href="https://www.facebook.com/FlyingDiscInvasion"
        target="_blank"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i></a></span>
        <span class="footer-item"><a href="https://www.instagram.com/flying.disc.invasion"
        target="_blank"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a></span>
        <span class="footer-item"><a href="https://www.youtube.com/channel/UCAOZsX0dTOWeu0Jb7vcGUtA/playlists"
        target="_blank"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a></span>
    </div>

<!-- </div> -->
<!-- close footer -->