<!-- grid-1 (header) -->
<!-- <div class="grid-1-header grid-4"> -->
    <div class="grid-4-logo">
        <img src="./img/fdi-logo.png" />
    </div>

    <div class="grid-4-title">
        <h1>Invasion Disc Store</h1>
    </div>

    <div class="grid-4-login">
        <div class="user-login">
            <button type="button" class="btn btn-info"
            onclick="Auth_SignIn();">Login</button>
        </div>
        <div class="user-logout hide-div">
            <button type="button" class="btn btn-danger"
            onclick="Auth_SignOut();">Logout</button>
        </div>
    </div>
<!-- close 1-header -->
<!-- </div> -->