<!-- Loading icon popup -->
<!-- <div class="loading-container"> -->
    <div class="loading-popup">
        <i class="fas fa-spinner fa-pulse" aria-hidden="true"></i>
        Loading
    </div>
<!-- </div> -->