<!-- grid-1 (navigation) -->
<!-- <div class="grid-1-nav"> -->
    <a class="nav-item" href="#" onclick="Utils_Redirect('shop')">Home</a>
    <a class="nav-item" href="#" onclick="Utils_Redirect('cart')">
        My Reservations (<span id="my-reservations-count">#</span>)
    </a>
<!-- close 1-nav -->
<!-- </div> -->