<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!-- include partial view -->
        <% include partials/nav.ejs %>
        
        <h1>Welcome to this website</h1>
        <p>Paragraph 1</p>
    </body>
</html>