<!-- Disc Detail / Reserve Modal -->
<!-- <div class="disc-detail-modal"> -->
    <!-- Modal content -->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close">&times;</button>
            <h4 class="modal-title">
                Disc Details - Title: <span class="title">Title</span>
            </h4>
        </div>

        <div class="modal-body">
            <table>
                <!-- <th></th> -->
                <tr>
                    <td>Author:</td>
                    <td><span class="author">Author</span></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td><span class="category">Category</span></td>
                </tr>
                <tr>
                    <td>Disc type:</td>
                    <td><span class="disc-type">Type</span></td>
                </tr>
                <tr>
                    <td>Discs in stock:</td>
                    <td><span class="stock">Stock</span></td>
                </tr>
                <tr>
                    <td>Total times this disc was purchased:</td>
                    <td><span class="total-purchased">Total</span></td>
                </tr>
            </table>

            <br>
            <p><strong>Note: We do not provide receipts for disc sales!</strong></p>
            <hr>

            <div class="contact-details">
                <div class="contact-first-name">
                    <input class="first-name" type="text" placeholder="* First name">
                </div>

                <div class="contact-last-name">
                    <input class="last-name" type="text" placeholder="* Last name">
                </div>

                <div class="contact-phone-number">
                    <input class="phone-number" type="text" placeholder="* Enter phone # here!">
                </div>

                <div class="contact-update-button">
                    <button type="button" class="btn btn-default">Update Contact Details</button>
                </div>

                <div class="contact-update-message">
                    SAVED
                </div>
            </div>
        </div>

        <!-- note: text here is right-justified -->
        <div class="modal-footer">

            <!-- container for grid -->
            <div class="modal-footer-reserve-grid">
                <div class="modal-footer-message">
                    <span class="reserve-signin-warning">You must sign in to reserve discs!</span>
                    <span class="reserve-disc-not-available-warning">Disc already reserved.</span>
                    <span class="contact-details-empty-warning">Fill in full name and phone # to reserve.</span>
                </div>
                
                <div class="modal-footer-reserve">
                    <button type="button" class="btn btn-default action-reserve">
                        Reserve Disc
                    </button>
                    <button type="button" class="btn btn-danger action-cancel-reserve">
                        Cancel Reservation
                    </button>
                </div>
            </div>
        </div>
    </div>
<!-- close disc detail / reserve modal -->
<!-- </div> -->