<!-- Reserve Success Modal -->
<!-- <div class="reserve-detail-modal"> -->
    <!-- Modal content -->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close">&times;</button>
            <h4 class="modal-title">
                Disc Reservations Updated! :D
            </h4>
        </div>

        <div class="modal-body">
            <p><strong>Thank you for using our site to reserve discs!</strong></p>
            <br>
            <p class="reservation-success">
                Please wait for the Flying Disc Invasion disc sales team
                to contact you with more details about pickup time / location
                and payment.
            </p>
            <p class="reservation-cancelled">
                Disc reservation cancelled successfully. Please
                feel free to contact us if you have any questions about
                anything we do!
            </p>
        </div>

        <!-- note: text here is right-justified -->
        <div class="modal-footer">
            <span class="reserve-detail-footer-link">Check us out on: 
                <a href="https://www.facebook.com/FlyingDiscInvasion" target="_blank">Facebook</a>
            </span>

            <span class="reserve-detail-footer-link">Check us out on: 
                <a href="https://www.instagram.com/flying.disc.invasion" target="_blank">Instagram</a>
            </span>

            <span class="reserve-detail-footer-link">Check us out on: 
                <a href="https://www.youtube.com/channel/UCAOZsX0dTOWeu0Jb7vcGUtA/playlists" target="_blank">YouTube</a>
            </span>
        </div>
    </div>
<!-- close reserve detail modal -->
<!-- </div> -->