body {
    font-family: 'Montserrat';
    font-size: 2em;
    padding: 3em;
}

input {
    width: 80%;
    font-size: 1.4em;
}

button {
    font-size: 2em;
}

.msg {
    padding: 1em;
    margin: 1em 0;
    background-color: #fffde3;
    width: 30%;
    opacity: 0;
    transition: opacity 200ms ease-out;
}

/* demonstrates :not(:placeholder-shown) */
input:not(:placeholder-shown) + .msg {
    opacity: 1;
}
/* -> end of combo */

/* demonstrate :not(<selector>) */
/* body :not(p) {
    color: red;
    border: 5px solid blue;
} */
/* -> end of :not() */

/* demonstrate :placeholder-shown */
/* input:placeholder-shown {
    border: 5px solid green;
} */
/* -> end of :placeholder-shown */